h6#letra{
    margin-top:40px;
}

.table-okc-result{
    font-size: 13px;

}
.table-okc-result thead{
    background-color: #e5e5e5;
    
}
.table-okc-result thead th,
.table-okc-result thead td,
.table-okc-result tbody th,
.table-okc-result tbody td{
    padding: 5px;
}
.toggled {
	background-color: #ddd;
	// color: #fff;
}
.ninguno {
    background-color: #fff;
}