body{
    background-color: #f2f2f2;
    color: #212529;
}
body .login-box{
    width: 32%;
}
.login-page{
    background-color: #f2f2f2;
}
.login-box-body{
    border: 1px solid #eaeced;
    padding: 50px 80px;
}
.login-img{
    padding: 10px;
}
.login-img img{
    border: 0;
}
.login-header{
    text-align: center;
}
.login-page .login-name{
    margin: 0;
    background-color: transparent;
    text-align: center;
}
.login-page .login-name h3{
    color: #db2828;
    font-weight: 700;
    font-family: 'Open Sans';
    margin: 0;
}
.login-page .has-feedback .form-control{
    padding-left: 42.5px;
}
.login-page .form-control-feedback{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.login-page .form-control:active, .login-page .form-control:focus{
    border: 1px solid #ccc;
}
.btn-okc-login,
.btn-okc-login:hover{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.footer-login{
    background: #f8f8f9;
    line-height: 1.5em;
    padding: 1em 1.5em;
    margin: 1em 0;
    border: 1px solid #ddd;
    border-radius: .28571429rem;
    text-align: center;
}
.footer-login a{
    margin-left: 10px;
}

body .login-box{
    width: 32%;
}

@media (max-width: 380px){
    body .login-box{
        width: 90%;
    }
    .login-box-body{
        padding: 30px;
    }
}