
// Body
$body-bg: #f5f8fa;

// @font-face {
//     font-family: Raleway;
//     src: url('../font/Raleway/Raleway-Regular.ttf');
 
// }
@font-face {
    font-family: Ubuntu;
    src: url('../font//ubuntu/Ubuntu-Regular.ttf');
 
}
 

// $font-family-sans-serif: "Raleway", sans-serif;
 
$font-family-sans-serif:  'Ubuntu', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// $fa-font-path:        "../webfonts";

 label, .nav-item a.nav-link {
     color: #000;
     font-weight: 590;
 }